@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0 0 0 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.fa-share {
    color: rgba(0, 0, 0, 0.23);
}
#area {
    border: none;
    outline: none;
    font-weight: bold;
}
.alertBox {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 2rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.2s ease;
}
.openalert {
    transform: scale(1)!important;
}
.fa-share:hover {
    color: rgba(0, 0, 0, 0.73)!important;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_area {
    width: auto;
    transition: 1s ease;
    height: auto;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.23),
        inset -1px -1px 10px rgba(0, 0, 0, 0.23),
        inset 1px 1px 10px rgba(0, 0, 0, 0.23),
        -1px -1px 10px rgba(0, 0, 0, 0.23);
    position: relative;
}
.remove {
    display:none;
    opacity: 0;
    pointer-events: none;
}
.loading {
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
}
.load {
    width:55px;
    height: 55px;
    border: 5px solid #2d6cdf;
    border-radius: 50%;
    border-top-color: transparent!important;
    animation: rotate 2s ease infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-family: cursive;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    font-size: 4rem;
    text-align: center;
}

.quotes {
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
}

.author h3 {
    font-size: 1.7rem;
}

.quotes #area {
    font-size: 2.3rem;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 0 0.5rem;
}

hr {
    margin: 1rem 0;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin: 0 2rem;
}

.fab {
    font-size: 3rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.43);
}

.fas {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.43);
    font-size: 3rem;
}

.fa-whatsapp-square:hover {
    color: #17b978 !important;
}

.fa-twitter-square:hover {
    color: #2d6cdf !important
}

.fa-copy:hover {
    color: rgba(0, 0, 0, 0.73) !important;
}

.quotes .fas {
    font-size: 1.6rem !important;
    color: rgba(0, 0, 0, 0.73) !important;
}

.fa-edit {
    color: rgba(0, 0, 0, 0.23) !important;
}

.fa-edit:hover {
    color: rgba(0, 0, 0, 0.73) !important;
}

@media screen and (max-width:768px) {
    .main_area {
        width: 84% !important;
        padding: 1rem 1.3rem;
        height: auto;

    }

    h1 {
        font-size: 2.2rem !important;
    }

    .quotes #area {
        font-size: 1.6rem !important;
    }

    .author {
        padding: 0.4rem 0.5rem;
    }

    .author h3 {
        font-size: 1.2rem !important;
    }

    hr {
        margin: 0.5rem 0;
    }

    .fab {
        font-size: 2rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.43);
    }

    .fas {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.43);
        font-size: 2rem;
    }

    .icons {
        margin: 0.3rem 0;
    }

    .fa-edit {
        display: none !important;
    }

    h3 {
        margin-right: 0.5rem !important;
    }

    .icon {
        margin: 0 1.4rem;
    }



}

@media screen and (max-width:480px) {
    .main_area {
        width: 93% !important;
        height: auto;
        padding: 0.5rem 0.5rem !important;
    }

    h1 {
        font-size: 1.6rem !important;
    }

    .quotes {
        margin: 0.2rem 0;
        padding: 0 !important;
    }

    .quotes #area {
        font-size: 1.2rem !important;
        margin-left: 1rem !important;
    }

    .quotes .fas {
        margin-left: 0.34rem !important;
    }

    .author h3 {
        font-size: 1rem !important;
    }

    .icons {
        margin: 1rem 0;
    }

    .fas,
    .fab {
        font-size: 1.5rem !important;
    }

    .icon {
        margin: 0 1rem;
    }
}

@media screen and (max-width:300px) {
    .main_area {
        padding: 0.3rem 0.5rem;
    }

    h1 {
        font-size: 1.2rem !important;
        padding: 0.43rem 0;
    }

    .quotes #area {
        font-size: 1.11rem !important;
    }

    .author h3 {
        font-size: 0.8rem !important;
    }
}